h1 {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    float: left;
    padding-right: 10px
}

.content-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.additional-info {
    text-transform: uppercase;
}